{% extends 'dashboard/main.html' %}
{% block content %}
<form class="" action="" method="POST">
  {% load widget_tweaks %}
  {% csrf_token %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
          <button class="pull-right btn btn-circle-lg btn-primary waves-effect waves-circle waves-float" type="submit" name = "submit">
            <i class="material-icons">done</i>
          </button>
          <h2>Input Data</h2>
          <small>Partners</small>
          <br>
          <br>
        </div>
        <!-- Start of Content -->

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <h2>Partners</h2>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                      <!-- start of body -->
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% render_field partners_form.partner class="form-control"%}
                                        <label class="form-label">Partner</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% render_field partners_form.engagement class="form-control"%}
                                        <label class="form-label">Engagement</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% render_field partners_form.location class="form-control"%}
                                        <label class="form-label">Location</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                            <b>Duration:</b>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                      <h2 class="card-inside-title"> &nbsp;</h2>
                                        {% render_field partners_form.startDate class="form-control" type="date" %}
                                        <label class="form-label">Start Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                      <h2 class="card-inside-title"> &nbsp;</h2>
                                        {% render_field partners_form.endDate class="form-control" type="date" %}
                                        <label class="form-label">End Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                      <h2 class="card-inside-title"> &nbsp;</h2>
                                        {% render_field partners_form.classification class="form-control"%}
                                        <label class="form-label">Classification</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                      <h2 class="card-inside-title"> &nbsp;</h2>
                                        {% render_field partners_form.scope class="form-control"%}
                                        <label class="form-label">Scope</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                      <h2 class="card-inside-title"> &nbsp;</h2>
                                        {% render_field partners_form.month class="form-control"%}
                                        <label class="form-label">Month</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-float">
                                  <h2 class="card-inside-title"> &nbsp;</h2>
                                    <div class="form-line">
                                        {% render_field partners_form.year class="form-control"%}
                                        <label class="form-label">Year</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <!-- end of body -->
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Content -->
    </div>
</section>
</form>
{% load static %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
  var date = new Date().getFullYear();
  $("#id_year").val(date);
</script>
{% endblock %}
